.coverage
__pycache__/*
*.pyc
*cache*
.DS_Store
*.so
*.egg-info/
build*
*.png
*.eps
*.pdf
*.jpg
C12_code/
.coverage*
code_deuteron/
*.mod
dist/
*.lhe
.pylintrc
_build/
_buildClang/
compile_commands.json
*.o
*.back
tags
lib*.so*
include/nuchic/System.hh
plots/
*dylib
.clangd
figs/
tmp/
.vimspector.json
